<div ng-controller="FizzBuzzCtrl" class="well-white well-lg">
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Select page size<span ng-show="isLoading"><i class="fa fa-spinner fa-spin fa-1x fa-fw pull-left"></i></span></div>
                <select class="form-control" ng-model="pageSize" ng-options="option for option in pageSizeOptions"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Select viewing values<span ng-show="isLoading"><i class="fa fa-spinner fa-spin fa-1x fa-fw pull-left"></i></span></div>
                <select class="form-control" ng-model="maxViewingValue" ng-options="value for value in viewingValues"></select>
            </div>
        </div>
    </form>
    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
    <hr>
    <div ng-hide="isLoading">
        <ul class="row list-unstyled">
            <li class="col-md-2" ng-repeat="item in data track by $index">
                <input type="checkbox" ng-model="item.isFavourite" ng-click="preserveSelection()" ng-checked="{{favourities.indexOf(item.id) >= 0}}" />
                <strong>{{item.name}}</strong>
            </li>
        </ul>
    </div>
</div>
